<% include partials/header %>
<h1><%=theme.name%></h1>

<img src="<%= theme.image %>">

<h1><%= theme.timeFrame %></h1>

<p><%= theme.description %></p>

<% theme.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<% include partials/footer %>